<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Pontuacao</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div th:object="${lojista}">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homeLojista">Home</a></li>
    </ul>
  </div>
</nav>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h1 class="panel-title">Você tem <span th:text="${pontosPorLojista}"></span> Pontos disponíveis.</h1>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">PREMIOS DISPONIVEIS</h1>
		</div>

		<div class="panel-body">
			<table id="premio" class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>PREMIO</th>
						<th>Quantidade Pontos</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each= "premio : ${premios}">
						<td th:text="${premio.codigo}"></td>
						<td th:text="${premio.nome}"></td>
						<td th:text="${{premio.qtdPontos}}" ></td>
						<td>
							<button class="btn btn-success btn-xs" data-title="Edit"
								data-toggle="modal" data-target="#resgatar" th:href="@{/resgatarPremio/{codigo}(codigo= ${cliente.cpf} + '-' +${premio.codigo})}">
								<span class="glyphicon glyphicon-ok-sign"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(premios)}"> Nenhuma Premio foi encontrada!! </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

<form id="form" method="post" action="/redirectListaLojista" th:object="${cliente}">
<input type="hidden" th:field="*{cpf}"/>	
<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-8">
    <button class="btn btn-primary btn-lg" type="submit" >Voltar
    <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>
</form>
	
	<div class="modal fade" id="resgatar" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- /.CHAMANDO PAGINA EditarPromocao.html pelo controller -->
			</div>
		</div>
	</div>
	

<div class="modal fade" id="resgatar" tabindex="-1" role="dialog" aria-labelledby="resgatar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
   		 <!-- /.modal-content --> 
    </div>
  </div>
      <!-- /.modal-dialog --> 
</div>							
</div>

</body>
<script src="/js/jquery-1.11.0.min.js"></script>	
<script>
</script>
<script src="/js/bootstrap.min.js"></script>
</html>