<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Galeria Promocoes</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      			<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Sair</a></li>
    </ul>
  </div>
</nav>
<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">PROMOÇÕES</h1>
		</div>
	
	<br>
 <div class="row text-center galeria" id="galeria" >
  <div class="col-sm-4" th:each= "promocao : ${promocoes}">
    <div class="thumbnail">
      <img class="img-thumbnail" src="/img/promocao.jpg/">
      <br>
      <strong><p th:text="${promocao.nome}" ></p></strong>
      <p><strong>Data Inicio: </strong><span th:text="${promocao.dataInicio}"></span></p>
      <p><strong>Data Fim: </strong><span th:text="${promocao.dataFim}"></span></p>
     </div>
  </div>
  	
</div>
</div>	


<form id="form" method="post" action="/redirectListaLojista" th:object="${cliente}">
<input type="hidden" th:field="*{cpf}"/>	
<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-8">
    <button class="btn btn-primary btn-lg" type="submit" >Voltar
    <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
</div>
</form>
						
</body>
<script src="/js/jquery-1.11.0.min.js"></script>	
<script src="/js/bootstrap.min.js"></script>
</html>