<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Galeria Promocoes</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<div th:object="${cliente}">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>
<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">Lojistas / Lojas</h1>
		</div>
	
	<br>
 <div class="row text-center galeria" id="galeria" >
  <div class="col-sm-4" th:each= "lojista : ${lojistas}">
    <div class="thumbnail">
      <img class="img-thumbnail" src="/img/lojista.png/">
      <br>
      <strong><p th:text="${lojista.nome}" ></p></strong>
      <p><strong>E-mail: </strong><span th:text="${lojista.email}"></span></p>
      <p><strong>CPF/CNPJ: </strong><span th:text="${lojista.cpfCNPJ}"></span></p>
      <a class="btn btn-primary" th:href="@{/galeriaPromocoes/{cnpj}(cnpj=${lojista.cpfCNPJ}+'-'+${cliente.cpf})}" role="button">Ver Promoções</a>
      <a class="btn btn-success" th:href="@{/clienteGaleria/{cnpj}(cnpj=${lojista.cpfCNPJ}+'-'+${cliente.cpf})}" role="button">Ver Premios</a>
    </div>
  </div>
</div>
</div>							
</div>
</body>
<script src="/js/jquery-1.11.0.min.js"></script>	
<script src="/js/bootstrap.min.js"></script>
</html>