<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de promoções</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/HomeLojista">Home</a></li>
				<li><a href="/promocoes">Manter Promoções</a></li>
				<li><a href="/Premio">Manter Premio</a></li>
				<li><a href="/parametro">Parametro</a></li>
				<li><a href="/consultarClientes">Clientes Ativos</a></li>
				<li><a href="#">Sobre</a></li>
			</ul>
		</div>
	</nav>

</body>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>