<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Pontuacao</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/homeLojista">Home</a></li>
      <li><a href="/galeriaPromocoes">Galeria Promoções</a></li>
    </ul>
  </div>
</nav>


	<div class="panel panel-success">
		<div class="panel-heading">
			<h1 class="panel-title">Você tem <span th:text="${cliente.pontuacao}"></span> Pontos disponíveis.</h1>
		</div>
	</div>
	
<div class="panel panel-primary">
		<div class="panel-heading">
			<h1 class="panel-title">PREMIOS DISPONIVEIS</h1>
		</div>

		<div class="panel-body">
			<table id="premio" class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>PREMIO</th>
						<th>Quantidade Pontos</th>
						<th>Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each= "premio : ${premios}" th:disabled="(${premio.qtdPontos} >= ${cliente.pontuacao}) ? 'false' : 'true' ">
						<td th:text="${premio.codigo}"></td>
						<td th:text="${premio.nome}"></td>
						<td th:text="${{premio.qtdPontos}}" ></td>
						<td>
							<button class="btn btn-success btn-xs" data-title="Edit"
								data-toggle="modal" data-target="#resgatar" th:href="@{/resgatarPremio/{codigo}(codigo= ${cliente.cpf} + '' +${premio.codigo})}">
								<span class="glyphicon glyphicon-ok-sign"></span>
							</button>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(premios)}"> Nenhuma Promoção foi encontrada!! </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel panel-warning" id="warning">
		<div class="panel-heading">
			<h1 class="panel-title">Pontos em Analise</h1>
		</div>

		<div class="panel-body">
			<table id="pendente" class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th>CPF</th>
						<th>DATA</th>
						<th>STATUS</th>
						<th>VALOR</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each= "pendente : ${pontuacaoPendente}">
						<td th:text="${pendente.cpf}"></td>
						<td th:text="${{pendente.data}}">06/09/2018</td>
						<td th:text="${{pendente.status}}"></td>
						<td th:text="${{pendente.valor}}">R$</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(pontuacaoPendente)}"> Não existe nenhuma pontuação pendente!! </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	

<div class="modal fade" id="resgatar" tabindex="-1" role="dialog" aria-labelledby="resgatar" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
   		 <!-- /.modal-content --> 
  	</div>
  </div>
      <!-- /.modal-dialog --> 
</div>							
</body>
<script src="/js/jquery-1.11.0.min.js"></script>	
<script>
</script>
<script src="/js/bootstrap.min.js"></script>
</html>