<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Cadastro de promoções</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<div th:object="${lojista}">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WebSiteName</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="/HomeLojista">Home</a></li>
				<li class="active"><a th:href="@{/promocoesPorLojista/{cpf}(cpf=${lojista.cpfCNPJ})}"
				 >Manter Promoções</a></li>
				<li><a th:href="@{/premiosPorId/{cpf}(cpf=${lojista.cpfCNPJ})}">Manter Premio</a></li>
				<li><a th:href="@{/parametro/{cpf}(cpf=${lojista.cpfCNPJ})}">Parametro</a></li>
				<li><a th:href="@{/consultarClientes/{cpf}(cpf=${lojista.cpfCNPJ})}">Clientes Ativos</a></li>
				<li><a th:href="@{/mediaClientes/{cpf}(cpf=${lojista.cpfCNPJ})}">Media Clientes</a></li>
				<li><a href="#">Sobre</a></li>
			</ul>
		</div>
	</nav>

	<div class="panel panel-primary" th:object="${lojista}">

		<div class="panel-heading">
			<h1 class="panel-title">PROMOÇÕES ATIVAS</h1>
		</div>

		<div class="panel-body">
			<table class="table table-bordered table-striped table-sm">
				<thead>
					<tr>
						<th>ID</th>
						<th>Promoção</th>
						<th>Data Inicio</th>
						<th>Data Fim</th>
						<th>Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each= "promocao : ${promocoes}">
						<td th:text="${promocao.codigo}"></td>
						<td th:text="${promocao.nome}"></td>
						<td th:text="${{promocao.dataInicio}}"></td>
						<td th:text="${{promocao.dataFim}}"></td>
						<td>
							<button class="btn btn-primary btn-xs" data-title="Edit"
								data-toggle="modal" data-target="#edit" th:href="@{/promocoes/{codigo}(codigo=${promocao.codigo})}">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger btn-xs" data-title="Delete"
								data-toggle="modal" data-target="#delete" th:href="@{/deletarPromocao/{codigo}(codigo=${promocao.codigo})}">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</td>
					</tr>
					
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(promocoes)}"> Nenhuma Promoção foi encontrada!! </td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-primary" data-title="Criar"
			data-toggle="modal" data-target="#criar">Add Promoção</button>
	</div>


	<!-- MODAL CRUD -->
	
	<div class="modal fade" id="criar" tabindex="-1" role="dialog" aria-labelledby="criar" aria-hidden="true">
	 <div th:object="${lojista}">
		<form id="form" method="post" th:action="@{/novaPromocao/{cpf}(cpf=${lojista.cpfCNPJ})}">	
		 
		 <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h4 class="modal-title custom_align" id="Heading">Criar nova
						promoção</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input class="form-control " type="hidden" name="cpf" th:field="*{cpfCNPJ}">
			    	</div>
					<div class="form-group">
						<input class="form-control " type="text" name="nome" placeholder="Nome promoção">
					</div>
					<div class="form-group">
						<input class="form-control " type="hidden" name="lojistaID">
					</div>
					
					<div class="form-group">
						<input class="form-control " type="text" name="dataInicio" placeholder="Data inicio">
					</div>
					<div class="form-group">
						<input class="form-control" name="dataFim" placeholder="Data final">
					</div>
				</div>
				<div class="modal-footer ">
					<button type="submit" href="/promocoes" class="btn btn-success btn-lg" style="width: 100%;">
						<span class="glyphicon glyphicon-ok-sign"></span> Criar nova
						promoção
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		 </div>
	  </form>	
	 </div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- /.CHAMANDO PAGINA EditarPromocao.html pelo controller -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- /.CHAMANDO PAGINA ExcluirPromocao.html pelo controller -->
			</div>
		</div>
	</div>
</div>
</body>

<script src="/js/jquery-1.11.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>