<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
	<body th:object="${premio}" >
		<form id="form1" method="POST" th:action="@{/redirectCliente/{cnpj}(cnpj=${{premio.lojistaID}})}">	
		   <div class="modal-header" >
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h4 class="modal-title custom_align" id="Heading">Resgatar
						Premio</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						O seu premio <strong><span th:text="${premio.nome}"></span></strong> foi resgatado com sucesso com sucesso!!
					</div>
					<br></br>
		
					<div class="form-group" th:object="${cliente}">
						Agora você possui <strong><span th:text="${cliente.pontuacao}"></span></span></strong> pontos!!
					<input type="hidden" name="cpf" th:value="${cliente.cpf}"/>
					</div>
				</div>	
				
				<div class="modal-footer ">
					<button type="submit" class="btn btn-success btn-lg"	
						style="width: 100%;">
						<span class="glyphicon glyphicon-ok-sign"></span> Okay
					</button>
				</div>
		</form>		
	 </body>
</html>